<section class="home min-h-[80vh] flex items-center justify-center">
    <div class="container mx-auto">
        <div class="w-96 bg-white shadow-lg rounded p-12 text-center mx-auto">
            <h1 class="font-bold text-xl">Welcome <%= locals.user.name %></h1>
            <a href="/sign-out" class="text-red-500 bg-red-100 px-6 py-2 rounded inline-block my-3">Sign Out</a>
        </div>
    </div>
</section>